body {
  background-color: rgb(0, 0, 0);
  font: 200 1.875em/1.38 'Source Sans Pro';
  color: white;
}
p.soontxt {
	position: absolute;
	color: white;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: perspective(1px) translate(-50%, -50%);
}
.twitter{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: perspective(1px) translate(-50%, -50%) translate(0, 37px);
}
.pointer{
	cursor: pointer;
}
.container{
	
}
div.item{
	vertical-align: top;
	display: inline-block;
	text-align: center;
}
.itemalign{
	display: block;
}