body {
  background-color: rgb(0, 0, 0);
  font: 200 1.875em/1.38 'Source Sans Pro';
  color: rgb(0, 0, 0);
}

.container {
  position: relative;
  float: left;
  z-index: 1;
  width: 100%;
  height: 25px;
  margin-top: 402px;
}

.image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 25px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.text {
  position: absolute;
  top: 362px;
  left: 0;
  right: 0;
  z-index: 2;
  width: 43.6666666666%;
  height: 49px;
  margin: 0 auto;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text a,
.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text em {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(255, 255, 255);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}